.main-header {
    font-size: 5rem;
    color: rgb(0, 0, 255);
    font-family: poppins, serif;
    font-weight: 900;
    text-align: center;

}

.main-container {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 25px;
    height: 100vh;
    padding: 10px;
}

.btn-get-locs-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 50px;
}

.btn-get-locs {
    height: 150px;
    width: 150px;
    font-size: 1.5rem;
}