.main-nav-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 0 #bbc4d1, inset 10 5px 0 #ffffff;
    background-color: rgb(0 185 255);
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
}

.nav-container.num-1 {
    height: 175px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 0 #bbc4d1, inset 10 5px 0 #ffffff;
    background-color: rgb(0 185 255);
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
}



.nav-container.num-2 {
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 0 #bbc4d1, inset 10 5px 0 #ffffff;
    background-color: rgb(0 185 255);
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
}

.search-box {
    display: flex;
    gap: 2.5px;
    height: 75px;
}

.search-bar {
    width: 500px;
    height: 75px;
    border-radius: 15px;
    background-color: #00aeff;
    color: white;
    font-family: poppins, serif;
    font-size: 1.5rem;
    padding-inline-start: 15px;
}

.search-bar::placeholder {
    color: white;
    font-family: poppins, serif;
    font-size: 2.5rem;
}

button {
    border: none;
    background-image: linear-gradient(-86deg, #01913d 0%, #0183bf 100%);
    border-radius: 25px;
}

.btn-search {
    height: 75px;
    width: 75px;
    font-size: 40px;
}

.btn-user-pos {
    height: 75px;
    width: 200px;
    margin-inline-start: 10px;
    font-size: 1.5rem;
    font-family: poppins, serif;
    color: white;
}

.curr-location {
    display: flex;
    margin-inline-end: 15px;
    font-size: 3rem;
    border-radius: 15px;
    padding: 5px;
    /* min-width: 700px; */
}

.curr-location-p {
    text-align: center;
}

.btn-copy-link {
    width: 290px;
    height: 75px;
    font-size: 1.5rem;
    font-family: poppins, serif;
    color: white;
}