@import "css/typography.css";
@import "CSS/components.css";
@import "CSS/mq/mq.css";
@import "CSS/layout.css";
@import "CSS/base.css";

table{
    margin: 0 auto;
    background-color: brown;
    width: 70%;
    text-align: center;
}
table thead{
    background-color: burlywood;
}
tbody tr{
    height: 50px;
    color: white;
}
tbody td{
    background-color: brown;
    width: 50px;
    height: 80px;
}
table button{
    width: 80%;
    height: 30px;
    display: block;
    margin: 15px auto;
    border: 0;
    border-radius: 15px;
    background-color: antiquewhite;
    cursor: pointer;
}
table button:hover{
    opacity: 0.5;
}
